doctype html
include includes/head
body
  header.header
    .main-content-wrapper
      .login-panel.clearfix
        h2.brandname.brandname_main URLAUBSGLÜCK
        .signin_panel.clearfix
          .button.button_plain.button_inline.button_login Log in
          .button.button_bordered.button_inline Sign up
      .logo
        h1.slogan 
          span share your 
          span holiday dreams
        h3.second-slogan And find the perfect partner to fullfill it
        a(class='button button_red' href='#') Find your holiday partner
  main.main
    .main-content-wrapper
      section.sliders-block.topic-section
        h3(align="center").topic How Urlaubsglück works?             
        section.sliders
          include includes/variables
            each slider in sliderItemsContent
              section.sliders__item
                .item-inner.ratio-4-3
                  .item-content
                    .item__slider
                      each item in slider.imgLnk
                        img.img(src=`${item}`, alt="slImg")
                    .item__textwrap
                      h5(align="center").item__step= slider.step
                      h3.item__topic= slider.topic
                      p.item__textCont= slider.textCont             
      section.partners-block.topic-section
        h3(align="center").topic Meet a partner for your best holiday
        section.partners
          each partner in partners
            .partner
              .partner-picture
                img.photo(src=`${partner.img}` alt=`${partner.name}`)
                .icon
                  .svg-container
                    div(class='svg-icon '+`${partner.svgClass}`)
              p.partner-name= partner.name
              p.partner-slogan= partner.slogan
        a(class='button button-white-red partners-button' href='#') See other partners
      section.masonry-block.topic-section
        h3(align="center").topic Discover holiday activity ideas
        section.masonry-gallery
          .masonry-grid
            //- .grid_sizer &nbsp;
            .gutter_sizer           
            each gridItem in grid
              if gridItem.itemRelativeWidth == 2
                .grid_item.grid_item--width2
                  img(src=`${gridItem.imgSrc}` alt='masonryImg.jpg')
              else
                .grid_item.grid_item--width1
                  img(src=`${gridItem.imgSrc}` alt='masonryImg.jpg')
                  
      section.search-block.topic-section
        h3(align="center").topic Discover holiday activity ideas
        p.search-block_text Hi! What are your holiday interest
        form(action="#", method="get" class="search-block_form")
          input(type="search", name="partner-search" class="input-search")
          input(type="submit", value="Search partner" class="button button_red")
  footer.footer
    .main-content-wrapper 
